@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.container {
    width: 100vw;
    height: ;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.cryptos {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
}

h3 {
    background-color: gold;
    color: black;
    border: 3px solid black;
    padding: 5px 10px;
    border-radius: 20px;
}

h4 {
    color: rgb(0, 170, 0);
    background-color: #f5f5f5;
    font-size: 18px;
    font-weight: 600;
    padding: .5rem 1rem;
    letter-spacing: 1px;
    text-shadow: -.8px .8px #000;
}

h4:nth-of-type(even) {
    text-shadow: -.8px .8px white;
    background-color: #111;
}

.box {
    background-color: rgba(40, 40, 40, 1);
    text-align: start;
    max-width: 100%;
    /* padding: 1rem 2rem; */
    display: none;
}

.title-third {
    background: linear-gradient(rgba(40, 40, 40, 1), #f5f5f5);
    color: rgb(255, 225, 58);
    text-shadow: -1px 1px black;
    border: 0;
    letter-spacing: .5px;
    border-top: 3px solid rgba(40, 40, 40, 1);
    /* border-bottom: 3px solid black; */
    padding: 8px 10px;
    border-radius: 0%;
}

.box.active {
    display: block;
}

.about {
    margin: 10px;
}

h2 {
    color: gold;
    letter-spacing: 2px;
    text-shadow: -1.5px 1.5px black;
    border-bottom: 3px solid gold;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.about p {
    color: #fff;
    /* text-shadow: -.4px .4px gold; */
    letter-spacing: .5px;
    font-weight: 500;
    margin-bottom: 5px;
}